.container_Navbar {
    display: block;
    width: 110px;
    height: 100vh;
    padding: 10px 0px 40px 40px;
    background-color: #8C3B42;
    color: #EEC68F;

    overflow: hidden;

    border-right: 5px solid #EEC68F;
    box-shadow: 0px 0px 30px -10px #1f1f1f;

    position: fixed;

    z-index: 10;
    transition: all ease .5s;
}.container_Navbar:hover {
    width: 300px;
}

@media screen and (max-width: 840px) {
    .container_Navbar {
       display: none;
    }

}

.container_Navbar ul {
    list-style-type: none;
    cursor: pointer;
    height: 100%;
}

ul li.item_menu a {
    text-decoration: none;
    color: #EEC68F;
    font-size: 35px;

    width: 350px;
    margin-left: -50px;
    padding: 20px 50px;

    display: flex;
    transition: ease all .5s;
}ul li.item_menu img {
    margin-top: 10px;
    width: 35px;
    height: 40px;
}

ul li.item_menu a:hover {
    background-color: #5f282d;
}

ul li.item_menu a .txt_link {
    margin: auto;
    width: 600px;
    margin-left: 35px;
    font-size: 25px;
    font-family: "Lora", serif;
    overflow: hidden;
}