@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap'); /*Font do Título*/
@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap'); /*Font do Subtítulo*/
@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai&display=swap'); /*Font do Texto*/
h1 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-size: 64px;
  font-weight: 700;
  font-style: normal;
}
h2 {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-size: 48px;
  font-weight: 400;
  font-style: italic;
}
p {
  font-family: "Hind Madurai", sans-serif;
  font-optical-sizing: auto;
  font-size: 24px;
  font-weight: 400;
  font-style: normal;
}

body {
  background-color: #3B3837;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #EEC68F;
}


.banner{
  text-shadow: 0px 0px 15px #000;
}
.content{

}